{% extends '../layout.twig' %}

{% block app_content %}
    <div class="projects container">
        <p class="u-reset overline">
            All Projects
        </p>

        <div class="grid">
            {% for site in sites %}
                <component is="latest-report-provider"
                        key="{{ site._id }}"
                        id="{{ site._id }}">
                    <component
                            slot-scope="{report}"
                            is="site-report-tile"
                            id="{{ site._id }}"
                            :is_favorite="{{ site.is_favorite }}"
                            :is_favorite="{{ site.is_scheduled }}"
                            :is_favorite="{{ site.is_disabled }}"
                            v-bind='{{ site | json_encode() }}'
                            :report="report"></component>
                </component>
            {% endfor %}
        </div>
    </div>
{% endblock %}
